// Here you can add other styles
.text-expense {
  text-align: right;
}

.outline-class {
  outline-color: #6f42c1;
  outline-style: solid;
  outline-width: medium;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flexbox-item {
  flex-grow: 1;
}

.text-padding {
  padding-right: 10px;
}
